::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ff6636;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body {
  margin-bottom: 4rem;
}

.container {
  max-width: 1920px;
  padding: 0 300px;
  margin: auto;
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 40px;
  }
}
